@import "layout.scss";
@import "reset.scss";
@import "base.scss";
@import "unit.scss";

@include keyframes(bouge){
	0%{
		margin-bottom: -100%;
		background-color: $bleu_emeraude;
	}

	100%{
		margin-right: 0%;
		background-color: red;
	}
}

div.wrap{
	@include center();
	overflow: $vue;
}

nav{
	height: $hnav;
	width: $taille;
	background: $blanc;

	ul{
		list-style:$ans;

		li{
			display:$brick;
			height:$hnav;
			width:$nav;
			float:$gauche;
			line-height:$hnav;
			text-align: center;
	
			a{
				text-decoration:$ans;

				&:hover, &:active{
					color:red;
				}
			}
		}
	}
}

section.toto{
	height: $taille;
	width: $taille;
	background: $bleu_emeraude;
	animation: 2s bouge 1s $normal $toujours;
	animation-fill-mode: $a_la_fin;
	animation-iteration-count: $cest_bon_on_a_compris; 

	p h1{
		font-size: $unit +5;
	}
}

@media #{$ecran-smartphone}{
	div.wrap{
		@include smart();
	}
	p{
		font-size: $unit*2;
	}	
	section.toto{
		visibility: $vue;
		width: $mall;
		padding: $unit;
		box-sizing: border-box;
	}

	nav{
		height: 184px;
		width: $mall;
		background: $blanc;
	
		ul{
		list-style:$ans;

			li{
				display:$brick;
				height:$hnav;
				width:$mall;
				line-height:$hnav;
				text-align: center;
		
				a{
					text-decoration:$ans;

					&:hover, &:active{
						color:red;
					}
				}
			}			
		}
	}
}

@media screen and (min-width:$iphone) and (max-width:$tablette){

}
