$nav : 200px;
$hnav : 46px;
$unit : 10px;

$mall : 420px;
$iphone : 320px;
$ecran : 1024px;
$tablette : 780px;

$ecran-smartphone : "only screen and (max-width: 320px)";
$ecran-tablette : "only screen and (max-width: 780px)";
$ecran-ordi : "only screen and (max-width: 1024px)";


